.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: hsl(39, 59%, 78%);
  --primary-color-shadow: hsl(39, 47%, 62%);
  --secondary-color: hsl(18, 71%, 27%);
  --tertiary-color: hsl(31, 51%, 34%);
  --background-color: hsl(26, 42%, 19%);
  --background-color: hsla(26, 42%, 15%, 100%);
  --background-color-light: hsl(26, 42%, 10%);
  --text-color: hsl(0, 0%, 100%);
  --text-outline: hsl(26, 42%, 19%);
}

.container {
  margin: 0;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 1.2;
  margin: 0.1em;
  margin-bottom: 15px;
}

#theme-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
}

#theme-icon {
  width: 100%;
  height: 100%;
}

h2 {
  color: var(--primary-color);
  background-color: var(--background-color-light);
  margin: 0.2em;
  padding: 0.5em 1.5em;
  border-radius: 1em;
}

#cup {
  font-size: 3rem;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  border: 6px solid var(--background-color-light);
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 270px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

#cup::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fill-level, 0%);
  background: var(--tertiary-color);
  transition: height 0.2s linear;
}

#cup * {
  margin-top: -50px;
  z-index: 1;
}

#coffee-container {
  position: relative;
}

#coffee-container::after {
  content: "";
  position: absolute;
  right: -75px;
  top: 40px;
  width: 70px;
  height: 100px;
  border: 6px solid var(--background-color-light);
  border-left: none;
  border-radius: 0 3rem 3rem 0;
}

.timer {
  font-size: 4.5rem;
  line-height: 1;
  background-color: var(--background-color-light);
  padding: 0.17em 0.1em 0.2em 0.1em;
  border-radius: 0.2em;
}

button {
  cursor: pointer;
}

#button-container {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

#button-container button {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  text-shadow: 1px 1px 2px var(--text-outline);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  box-shadow: 0 0.1em 0.2em var(--primary-color-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
  width: 90px;
}

#button-container button:hover {
  background-color: var(--primary-color-shadow);
  box-shadow: 0 0.2em 0.3em var(--tertiary-color);
}

#button-container button:active {
  box-shadow: none;
  transform: translateY(0.1em);
}

#session-options {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.session-option {
  display: block;
  border: 2px solid var(--background-color-light);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 10px;
  width: 70px;
  font-size: 1.1em;
  background: none;
}

.session-option-selected {
  background-color: var(--background-color-light);
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0.2em;
    padding: 0.5em 1.2em;
  }

  #cup {
    width: 250px;
    height: 200px;
  }

  #coffee-container::after {
    width: 60px;
    height: 80px;
    right: -60px;
  }

  .timer {  
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  #theme-button {
    width: 35px;
    height: 35px;
    top: 0px;
    right: 0px;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0.2em;
    margin-bottom: 0.1em;
    padding: 0.4em 1.1em;
  }

  #cup {
    width: 200px;
    height: 170px;
  }

  #coffee-container::after {
    width: 40px;
    height: 70px;
    right: -40px;
  }

  .timer {  
    font-size: 3.2rem;
  }

  #button-container {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  #button-container button {
    padding: 0.4em 0.8em;
    font-size: 1.1rem;
    width: 80px;
  }
}
