:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 90px 0 40px 0;

  color: var(--color-text);
  background-color: var(--color-background);
  scrollbar-width: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-right: 15px;
}

.settings-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.coffee-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
}

.tasks-container {
  margin: 0;
  display: none;
  flex-direction: column;
  min-width: 300px;
}

h1 {
  text-align: center;
  padding: 3vh 0;
  color: var(--color-header);
  font-size: 3rem;
  line-height: 1.2;
  margin: 0.1em;
}

#top-buttons-container {
  top: 10px;
  left: 10px;
  position: fixed;
}

.top-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.top-button .icons {
  width: 100%;
  height: 100%;
}

.settings-buttons {
  min-width: 320px;
  width: 320px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--color-cup);
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 15px;
  box-shadow: 0 0.05em 0.1em var(--color-shadow);
  color: var(--color-subheader);
  transition: box-shadow 0.3s;
  font-size: 20px;
}

.settings-buttons:active {
  box-shadow: none;
  transform: translateY(0.1em);
}

.settings-buttons .icons {
  width: 32px;
  height: 32px;
}

.settings-buttons-link {
  text-decoration: none;
}

h2 {
  color: var(--color-subheader);
}

h2.subtitle {
  background-color: var(--color-cup);
  margin: 0.2em;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  border-radius: 1em;
}

h1#stats {
  margin: 0;
  margin-top: 30px;
}

h2.stats {
  width: 310px;
  border-radius: 15px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  color: var(--color-header);
}

#cup {
  font-size: 3rem;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  border: 6px solid var(--color-cup);
  border-radius: 50%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  width: 270px;
  height: 240px;
  position: relative;
  overflow: hidden;
}

#cup::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fill-level, 0%);
  background: var(--color-drink);
  transition: height 0.2s linear;
}

#cup * {
  margin-top: -50px;
  z-index: 1;
}

#coffee-container {
  position: relative;
}

#coffee-container::after {
  content: "";
  position: absolute;
  right: -75px;
  top: 40px;
  width: 70px;
  height: 100px;
  border: 6px solid var(--color-cup);
  border-left: none;
  border-radius: 0 3rem 3rem 0;
}

#coffee-container.no-after::after {
  display: none;
}

.steam {
  display: none;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -200px;
  z-index: 0;
  opacity: 0;
}

#steam-one {
  -webkit-animation: steam-one 4s ease-out infinite;
  animation: steam-one 4s ease-out infinite;
}

#steam-three {
  -webkit-animation: steam-one 4s ease-out 1s infinite;
  animation: steam-one 4s ease-out 1s infinite;
}

@-webkit-keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.35;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.35;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-two {
  -webkit-animation: steam-two 4s ease-out 0.5s infinite;
  animation: steam-two 4s ease-out 0.5s infinite;
}

#steam-four {
  -webkit-animation: steam-two 4s ease-out 1.5s infinite;
  animation: steam-two 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.35;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.35;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

.ice-cube {
  display: none;
  position: absolute;
  width: 68px;
  height: 68px;
  background-color: rgba(173, 216, 230, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
  top: -40px;
}

.timer {
  font-size: 4.5rem;
  line-height: 1;
  background-color: var(--color-cup);
  text-shadow: 1px 1px 2px var(--color-text-shadow);
  padding: 0.17em 0.1em 0.2em 0.1em;
  border-radius: 0.2em;
}

button {
  cursor: pointer;
}

#button-container {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.primary-button {
  background-color: var(--color-drink);
  color: var(--color-text);
  text-shadow: 1px 1px 2px var(--color-text-shadow);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  box-shadow: 0.1em 0.1em 0.2em var(--color-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
  width: 100px;
}

.primary-button:hover {
  background-color: var(--color-shadow);
  box-shadow: 0 0.2em 0.3em var(--color-drink);
}

.primary-button:active {
  box-shadow: none;
  transform: translateY(0.1em);
}

#session-options {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.session-option {
  display: block;
  border: 2px solid var(--color-cup);
  color: var(--color-header);
  padding: 5px 10px;
  border-radius: 10px;
  min-width: 70px;
  font-size: 1em;
  background: none;
}

.session-option-selected {
  color: var(--color-text);
  background-color: var(--color-cup);
}

#task-title {
  margin-bottom: 20px;
  text-align: center;
}

#task-form {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

#task-input {
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

#add-task, #clear-tasks {
  width: auto;
  display: inline;
  padding: 5px 10px;
  font-size: 16px;
  height: 30px;
}

#clear-tasks-container {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

#clear-tasks {
  display: none;
  width: 150px;
}

#task-list-container {
  padding: 0 10px;
}

#task-list {
  color: var(--color-header);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}

#task-list li {
  cursor: pointer;
  list-style: none;
  padding: 8px 12px;
  margin: 2px 0;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#task-list li:active {
  transform: translateY(0.1em);
}

.task-complete {
  text-decoration: line-through;
  background-color: var(--color-cup);
}

@media (max-width: 700px) {
  :root {
    padding: 0;
    padding-top: 20px;
  }

  #top-buttons-container {
    top: 5px;
    left: 5px;
  }

  .top-button {
    width: 30px;
    height: 30px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .tasks-container {
    margin-top: 50px;
  }

  .ice-cube {
    width: 62px;
    height: 62px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
    padding: 0.5em 1.2em;
  }

  #cup {
    width: 270px;
    height: 210px;
  }

  #coffee-container::after {
    width: 60px;
    height: 90px;
    right: -60px;
  }

  .timer {  
    font-size: 3.6rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
    padding: 0.4em 1.1em;
  }

  #cup {
    width: 200px;
    height: 170px;
  }

  #coffee-container::after {
    width: 40px;
    height: 70px;
    right: -43px;
  }

  .timer {  
    font-size: 3.2rem;
  }

  #button-container {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  #button-container button {
    padding: 0.4em 0.8em;
    font-size: 1.1rem;
    width: 90px;
  }

  .ice-cube {
    width: 50px;
    height: 50px;
  }
}
