.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: hsl(39, 59%, 78%);
  --primary-color-shadow: hsl(39, 47%, 62%);
  --secondary-color: hsl(18, 71%, 27%);
  --tertiary-color: hsl(31, 51%, 34%);
  --background-color: hsl(26, 42%, 19%);
  --background-color: hsla(26, 42%, 15%, 50%);
  --background-color-dark: hsl(26, 42%, 10%);
  --text-color: hsl(0, 0%, 100%);
  --text-outline: hsl(26, 42%, 19%);
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 1.2;
  margin: 0.1em;
}

h2 {
  margin: 0.2em;
  color: var(--primary-color);
}

#sessionCount {
  padding: 0.5em 1.5em;
  background-color: var(--background-color-dark);
  border-radius: 1em;
}

.timer {
  font-size: 3rem;
  margin: 0.3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.timer div {
  font-size: 5rem;
  line-height: 1;
  background-color: var(--background-color-dark);
  padding: 0.17em 0.1em 0.2em 0.1em;
  border-radius: 0.2em;
}

.button-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

button {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  text-shadow: 0 0 0.3em var(--text-outline);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0.1em 0.2em var(--primary-color-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
}

button:hover {
  background-color: var(--primary-color-shadow);
  box-shadow: 0 0.2em 0.3em var(--tertiary-color);
}

button:active {
  box-shadow: none;
  transform: translateY(0.1em);
}